<% include partials/header %>
    <div class="ui container">
        
        <% if(currentUser && currentUser.isAdmin){ %>
        <h4 class="ui horizontal header divider">Blog Admin Tools</h4>
            <div class="blog-admin">
                <a class="ui primary orange button" href="/blog/new">New Post</a>
            </div>
        <% }; %>
        
        <% if(blogs.length == 0){ %>
            <div class="no-blogs">
                <div class="three col">
                    <div class="loader" id="loader-2">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="come-back">
                    <h2>Blogging in progress . . .</h2>
                </div>
            </div>
            
        <% } %>

        <% if (blogs.length > 0) { %>
        <h4 class="ui horizontal header divider">All Posts
        </h4>
        <div class="ui relaxed divided items">
            <% blogs.forEach(function(blog){ %>
            <div class="item">
                <div class="ui small image">
                    <img src="<%=blog.image%>">
                </div>
                <div class="content">
                    <a class="header" href="/blog/<%=blog._id%>"><%= blog.title %></a>
                    <div class="meta">
                        <div class="ui label">
                          <%= blog.category[0].name %>
                        </div>
                        <% if(moment().diff(blog.created, 'days') < 5){ %>
                            <a><%= moment(blog.created).fromNow(); %></a>
                        <% } else { %>
                                <a><%= moment(blog.created).format('MMMM Do, YYYY')%></a>
                        <% }; %>
                        <% if(blog.likes > 0) { %>
                        <div class="ui heart rating" data-max-rating="1" data-rating="0"><%= blog.likes %><i class="icon"></i></div>
                        <% }; %>
                        
                    </div>
                    <div class="description">
                    <% if (blog.body.length > 550) { %>  
                        <div class="blog-preview">
                            <%- blog.body.substring(0, 550) + ". . ." %>
                        </div>
                    <% } else { %>
                        <%- blog.body %>
                    <% } %> 
                    </div>
                    
                    <div class="extra">
                        <a class="ui primary button" id="read-more" href="/blog/<%=blog._id%>">
                            Read Post<i class="right chevron icon"></i>
                        </a>
                        <% if (currentUser && currentUser.isAdmin) { %> 
                        <div class="admin-buttons">
                            <a class="ui primary button" id="edit" href="/blog/<%=blog._id%>/edit">Edit</a>
                            <form method="POST" action="/blog/<%=blog._id%>?_method=DELETE" class="delete-form">
                            <button class="ui primary button" id="delete">Delete Post</button>
                            </form>
                        </div>
                        <% }; %>
                    </div>
                </div>
            </div>
            <% }); %>
        </div>
    <% }; %>
    </div>
<% include partials/footer %>